<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="name" name="name">
    <div class="input-group-append">
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </div>
</form>
